%h1 Some images
%p Images in legibilis are part of the fluid grid. Try to resize the browser and watch the images scale.
.sixCol
  %img(src="/images/foo.jpg" alt="test image")
.sixCol
  %img(src="/images/baz.jpg" alt="test image")