.twelveCol
  %ul#media
    %li
      %a(href="/articles.xml")
        %img(src="/images/feed.png" alt="Atom feed")
    %li
      %a(href="https://github.com/abbottjam/legibilis")
        %img(src="/images/github.png" alt="legibilis on GitHub")
